.cityFilterContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  font-size: small;
}

.cityCheckbox {
  flex: 1 1 calc(16.6667% - 10px);
}

.toggleButton {
  background-color: #29235C;
  color: #FFFFFF;
  padding: 8px 16px;
  font: Poppins;
  font-size: 14px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-top: 16px;
  margin-bottom: 7px;
  display: inline-block;
}
