/* KeywordFilter.module.css */

.keywordFilters {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 100%;
  align-items: left;
  flex-direction: column;
}

.keywordFilterContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 8px;
}

.keywordItem {
  display: flex;
  margin-bottom: 8px;
}

.keywordLabel {
  line-height: 1;
}
