/* KeywordFilter.module.css */

.keywordFilters {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 100%;
  align-items: center;
}


.keywordItem {
  display: flex;
  margin-bottom: 8px;
}


.keywordLabel {
  line-height: 1;
}
