/* PropertyList.module.css */

/* Table styling */

.tableContainer {
  max-height: 500px; /* adjust the height as needed */
  overflow: auto;
}

.table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

.table th,
.table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.table th {
  background-color: #29235C;
  position: sticky;
  top: 200px;
  z-index: 100; /* optional: to ensure the headers are above other elements */
}


th {
  background-color: #29235C;
  font-weight: bold;
  color: #FFFFFF;
}

td {
  color: #29235C;
}

h2 {
  color: #29235C;
  text-align: left;
}

/* Checkbox styling */

.box {
  display: inline-block;
  width: 100%;
  padding: 10px;
  border: 9px solid #ccc;
  border-radius: 4px;
}

.filterContainer {
  margin-bottom: 16px;
  position: sticky;
  top: 0;
  z-index: 100; /* optional: to ensure the headers are above other elements */
  background-color: #fff;
}

.filterCheckbox {
  vertical-align: middle;
}

.filterLabel {
  display: inline-block;
  margin-left: 8px;
  font-size: 14px;
  user-select: none; /* This disables text selection for the label */
}
